body{

    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #214f31;
    gap: 16px;
    font-family: 'arial', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.buttons{

    display: grid;
    grid-template-areas: "header header";
    grid-template-columns: repeat(4, 100px);
    grid-gap: 10px;
}

button:hover{

    background-color: white; 
    color: black;
    cursor: pointer;
    transition: all .15s ease-in-out; 
    transform: translateY(-0.2rem);
}

.display, .last-inputs{

    font-size: 30px;
    font-family: "Scientific Calculator LCD", sans-serif;
}

main{

    display: flex;
    margin-top: auto;
    flex-direction: column;
    justify-content: center;
    width: auto;
    padding: 50px 25px;
    height: 500px;
    background-color:#c2d4b1;
    border-radius: 10px;
    box-shadow: 8px 8px 8px #ff4f44; 
}

.clear, .delete{

    grid-column: span 2;
}

.panel{

    border-radius: 6px;
    box-shadow: inset 2px 4px 6px black;
    background-color: lightgray;
    padding: 20px 10px;
    margin-bottom: 30px;
}

button{

    padding: 1rem 3rem;
    border-radius: 15px;
    background-color: black;
    color: white;
    font-size: large;
}
footer{

    font-size: 16px;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 10px;
}

.github-logo:hover{

    transform:rotate(360deg);
}
.github-logo{

    overflow: hidden;
    transition-duration: 1s;
    transition-property:transform;
}
img{

    width: 50px;
    height: 50px;
}
 p{

    font-size: 24px;
    color: white;
}

.title{

    font-family: "Scientific Calculator LCD";
    color: white;
    font-size: xx-large;
}
